################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrimeAnalyzer/.vs
/CrimeAnalyzer/CrimeAnalyzer/bin
/CrimeAnalyzer/CrimeAnalyzer/obj
/Document/.vs
/Document/Document/bin
/Document/Document/obj
/Document Merger/.vs
/Document Merger/Document Merger/bin
/Document Merger/Document Merger/obj
/DocumentMerger2/.vs
/DocumentMerger2/DocumentMerger2/bin
/DocumentMerger2/DocumentMerger2/obj
/Dog/.vs
/Dog/Dog/bin
/Dog/Dog/obj
/Pets/.vs
/Pets/Pets/bin
/Pets/Pets/obj
/URLEncoder/.vs
/URLEncoder/URLEncoder/bin
/URLEncoder/URLEncoder/obj
/LINQPractice/LINQPractice/obj
/LINQPractice/LINQPractice/bin/Debug/netcoreapp2.0
/LINQPractice/.vs/LINQPractice
/MusicPlaylistAnalyzer/MusicPlaylistAnalyzer/.vs
/MusicPlaylistAnalyzer/MusicPlaylistAnalyzer/bin/Debug
/MusicPlaylistAnalyzer/MusicPlaylistAnalyzer/obj/Debug
/MusicPlaylistAnalyzer/.vs/MusicPlaylistAnalyzer/v16
/.vs
